<div class="d-grid gap-2 d-md-block">

    <button type="submit" class="btn btn-primary" onfocus="false">

        <i class="fa-solid fa-plus"></i>
        Crear
    </button>

    <a asp-action="Index" class="btn btn-success">
        <i class="fa-solid fa-arrow-left"></i>
        Regresar
    </a>

</div>